@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.contactSidebar {
  position: fixed;
  top: 64px;
  right: 0;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  width: 25%;
  padding: 0 16px;
}
